<%#通知メッセージ（更新しましたとか） %>
<div class="notice-wrapper">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>

<%# ページタイトル %>
<h1>🍰 ごほうびタスク</h1>

<p class="app-description">
  がんばった自分をほめるためだけの🩵
</p>

<%# 未完了タスクエリア %>
<h2>🔥 がんばること</h2>
<div id="not-done-tasks">

  <%# 未完了タスクを1つずつ表示 %>
  <% @not_done_tasks.each do |task| %>
    <div class="task-card <%= "priority-#{task.priority}" %>">
      <%# タスクのタイトル %>
      <%= task.title %>
      <p>優先度：<%= task.priority %></p>

      <%# 完了ボタン（押すとdone: trueになる） %>
      <%= button_to "完了", task_path(task, task: { done: true }), method: :patch %>
      <%# 削除ボタン %>
      <%= button_to "削除", task_path(task), method: :delete %>
    </div>
  <% end %>
</div>

<%# 完了タスクエリア %>
<h2>🍰 ごほうびタイム</h2>
<div id="done-tasks">

  <%# 完了タスクを1つずつ表示 %>
  <% @done_tasks.each do |task| %>
    <div class="task-card done <%= "priority-#{task.priority}" %>">
      <%# タスクのタイトル %>
      <%= task.title %>

      <%# ごほうびメッセージ %>
      <p>🩵 えらいね〜 🩵ごほうびタイム🧁🍰</p>

      <%# 未完了に戻すボタン %>
      <%= button_to "戻す", task_path(task, task: { done: false }), method: :patch %>
      
      <%# 削除ボタン %>
      <%= button_to "削除", task_path(task), method: :delete %>
    </div>
  <% end %>
</div>

<%# 新規タスク作成ページへのリンク %>
<%= link_to "＋ チャレンジ 🍰", new_task_path, class: "new-task-button" %>

