<div class="header">
  <%= link_to "🍰 RewardMe", root_path, class: "header-title" %>

  <div>
    <% if current_user %>
      <span class="user-name">
        <%= current_user.full_name %> さん
      </span>

      <%= link_to "ログアウト", logout_path,
            class: "header-link",
            data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "ログイン", login_path, class: "header-link" %>
      <%= link_to "ユーザー登録", signup_path, class: "header-link" %>
    <% end %>
  </div>
</div>