<div class="header">
  <div class="header-title">
    🍰 ごほうびタスク
  </div>

  <div>
    <% if current_user %>
  <span class="user-name">
    <%= current_user.last_name %> <%= current_user.first_name %> さん
  </span>
      <%= link_to "ログアウト", logout_path,
            class: "header-link",
            data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "ログイン", login_path,
            class: "header-link" %>

      <%= link_to "ユーザー登録", signup_path,
            class: "header-link" %>
    <% end %>
  </div>
</div>