<!DOCTYPE html>
<html>
  <head>
    <title>Mize Tasks 🍰</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'shared/header' %>

    <!-- 
    you found this 😎 crafted 
    by mize 
    -->

    <!-- メインコンテンツ -->
    <%= yield %>

    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>