<!DOCTYPE html>
<html>
  <head>
    <title>RewardMe 🍰</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="RewardMe">
<meta property="og:description" content="ごほうびでタスクを続けるアプリ🍰">
<meta property="og:image" content="<%= image_url('ogp.png') %>">
<meta property="og:url" content="<%= request.original_url %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="RewardMe">
<meta name="twitter:description" content="ごほうびでタスクを続けるアプリ🍰">
<meta name="twitter:image" content="<%= image_url('ogp.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'shared/header' %>

    <!-- 
    you found this 😎 crafted 
    by mize 
    -->

    <!-- メインコンテンツ -->
    <%= yield %>

    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>